<h2>Edit <%= resource_name.to_s.humanize %></h2>





<style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

.container1 {
  width: 350px;
  height: 900px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #25b7c4;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.butt {
  margin-top: 20px;
  background: #25b7c4;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.butt:hover {
  background: black;
  color: white;
  box-shadow: none;
}


</style>
<body>
<div class="container1">
  <div class="brand-title">EDIT</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="inputs">
    <label>EMAIL</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <label>PASSWORD</label>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <label>PASSWORD CONFIRMATION</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <button type="submit"><%= f.submit "Edit profile", class:"butt" %></button><br><hr>
<p> <%= button_to "Cancel my account", registration_path(resource_name),class:"butt", data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
<% end %>

</div>

</body>



