<style type="text/css">
 h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

tr:hover{
  background-color: rgba(255,255,255,0.3);
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
</style>
<% if user_signed_in? %>
<br><br><br><br><br>
<p id="notice"><%= notice %></p>
<section>
  <h1>BOOKS TABLE</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Bookname</th>
          <th>Bookdescription</th>
          <th>Author</th>
          <th>Bookposition</th>
          <th>Bookstatus</th>

          <%  if current_user.email=="admin@gmail.com" %>

          <th>Vendorname</th>
          <th>Vendormail</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <% else %>
          <th></th>
          <th></th>
        <% end %>

        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.bookname %></td>
            <td><%= book.bookdescription %> </td>
            <td><%= book.author %></td>
            <td><%= book.position %></td>
            <td><%= book.status %></td>
            <%  if current_user.email=="admin@gmail.com" %>
            <td><%= book.vendorname %></td>
            <td><%= book.vendormail %></td>
            <td><%= link_to 'Show', book %></td>
            <td><%= link_to 'Edit', edit_book_path(book) %></td>
            <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>

            <% else %>
            <td><%= link_to 'Show', book %></td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<% else %>
<section style="text-align:center; color: white;">
  <br><br><br><br><br>
  <h3>LIBRARY MANAGEMENT SYSTEM </h3><br>
  <pre>
  Login / Sign up to access
  </pre>
</section>
<% end %>




<script type="text/javascript">
  $(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>

